.sideBar {
    background-color: thistle;
    display:flex;
    flex-direction: column;
    justify-content: start;
    color: #555
}

.color {
    background-color: lightgray;
}


.flexSide {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;

}

.bt-lateral {
    height: 2em;
    width: 10em;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5em;
    border: 1px #555 solid;
    cursor: pointer;
    margin: 1em;
}

.titulo-lateral {
    margin-bottom: 3em;
    font-style:oblique;
    
}