.designDetallesPelicula {

    display: flex;
    flex-wrap: wrap;

}


.filmDetailHalf {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.youtube-container {
    margin-top: 3em;
}


.OfcTrailer {
    margin-top: 2em;
}