.designDetallesPelicula {

    display: flex;
    flex-wrap: wrap;

}


.filmDetailHalf {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
}