.designHome {
    height: 88vh;
    width: 100vw;
    background-image: url('../../img/mainHomeImg.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    color: rgb(212, 212, 212);
}

.bodyPart {
    height: 100%;
    width: 33.33vw;

}

.column{
    display: flex;
    flex-direction: column;
}

.columnBody{
    display: flex;
    flex-direction: column;
}

.enlacesHomeUp{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enlacesHome{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enlacesHomeUp{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.h1Home{
    color: rgb(212, 212, 212);
    font-size: 5em;
    font-family:Impact;
}
.h2Home{
    color: rgb(212, 212, 212);
    font-size: 2em;
    font-family:Impact;
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-bottom: -5em;
}
.bottonNovedadeHome{
    margin-left: 1em;
}
.enlacesHomeDown {
    height: 70%;
    width: 70%;
    background-color: rgb(212, 212, 212);
    border-radius: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    background-image: url('../../img/HomeCard.jpg');
    background-position: center;
    background-size:cover;
}

.cardHomeLogin{
    width: 100%;
    margin: .5em;
}

.enlacesDistribucion {
    display: flex;
    width: 90%;
    height: 50%;
    align-items: flex-end;
    margin-bottom: 0;
}

.OR {
    color: white;
    margin: 0;
}
.row{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    height: 50%;
}
.mitadEnlacesDown{
    height: 50%;
    width: 50%;
}

.introHome{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    
}
.textoHome{
    color:white;
    margin-bottom: 1em;
    margin-top: -.5em;
    margin-right: 2em;
    font-family:Impact;
}