.designPeliculas {
    display: flex;
    flex-wrap: wrap;


}

.bodyNovedades {
    width: 75%;
    margin: 1rem auto;
}

.botonMasNovedades{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    margin: 1em;
}