.designPeliculas {
    display: flex;
    flex-wrap: wrap;


}

.mostrarImg{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 25%;
}


.bodyNovedades {
    width: 85%;
    margin: 1rem auto;
}

.botonMasNovedades{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    margin: 1em;
}