.designHeader {

    height: 4em;
    width: 100%;
    background-color: #1A232E;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: lightblue;
}

.headerSpace, .spaceHeader {
    width: 33vw;
    height: 4em;

}

.searchSpace {
    margin-top: 1.5em;
}
.linksAuth {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.linksDesign {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3em;
    box-sizing: content-box;

}


.link:hover {
    font-weight: bold;
    cursor:pointer;
}

.topbarIconContainer {
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    height: 2em;
    width: 2em;
  }
  
.topIconBadge{
    width: 15px;
    height: 15px;
    position: absolute;
    top: -7px;
    right: -2px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.heigth {
    height: 20em;
    display: flex;
    margin-right: 3em;
    box-sizing: content-box;
    margin-left: 1em;
}

.logo {
    background-image: url("../../img/prime.jpg");
    background-size: cover;
    height: 4em;
    width: 10em;
}